[
    {emongo, [
        {pools, [
            {mongo_busket, [
                {size, 1},
                {host, "localhost"},
                {port, 27017},
                {database, "busket"}
            ]}
        ]}
    ]},
    {busket, [
        {udp_port, 5252},
        {store_module, busket_store_mongo}
    ]}
].