[
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},
    {emongo, [
        {pools, [
            {mongo_busket, [
                {size, 1},
                {host, "localhost"},
                {port, 27017},
                {database, "busket"}
            ]}
        ]}
    ]},
    {busket, [
        {udp_port, 5252},
        {store_module, busket_store_mongo}
    ]}
].